
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  button{
    background: none;
    border: none;
  }

  /* HEADER */

body{
    width: 320px;
    height: 700px;
    font-family: "TT Lakes", sans-serif;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.header-page{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 18px 16px;
    border-bottom:1px solid #D9FFF5;
}


.header__title--hidden{
     display: none; 
}
.main__title::before{
    content: "";
    width:40px;
    border-left: 4px solid #41F6D7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 12px;
    
}
.header__logo-menu{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.header__logo-menu::after{
    content: "";
    height: 32px;
    border-right: 2px solid #EAEAEA;
}

.header__button{
    background-image: url("icons/burger.svg");
}

.button{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header__logo{
    width: 96px;
    height: 50px;
}

.header__sidebar-card{
    display: flex;
}
.header__sidebar-list{
    display: flex;
    column-gap: 16px;
}
.header__sidebar-item{
    display: flex;
    align-items: center;
    
}

.header__sidebar-link--1{
    background-image: url("icons/call.svg");
}
.header__sidebar-link--2{
    background-image: url("icons/chat.svg");
}
.header__sidebar-link--3{
    background-image: url("icons/profile.svg");
}
.header__sidebar-link--4{
    background-image: url("icons/settings.svg");
}
.header__sidebar-link--5{
    background-image: url("icons/checkstatus.svg");
}
.header__sidebar-link--hidden{
    display: none;
}

.header__sidebar-text--hidden{
    display: none;
}

/* MAIN */

main{
    padding-top: 24px;
    background: #F8F8F8;
}

.menu__service{
    display: flex;
    overflow-x: auto ;
    
  }
 .menu__service-item{
    align-items: center;
    justify-content: flex-start;
    align-self: center;
    padding: 0 16px;
    cursor: pointer;
    white-space: nowrap;
    font-family: TT Lakes;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #7E7E82;
margin-top:24px;
 }
 
    .menu__service-item--hidden{
        display: none;}

.menu__service-item:nth-child(2){
   
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:16px;
    padding-right:9px;
    
    align-items: center; 
    margin-left: 16px;
    background: #ffffff;
}

.main__text{
    width: 100%;
    max-width: 490px;
    min-width: 288px;
    display: block;
    align-items: center;
    word-wrap: break-word;
    /* width: 288px; */
    font-family: TT Lakes;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;



}

.main__text--hidden{
    display: none;
}
.text{
    margin-left:16px ;
    margin-right: 16px;
}
.read__more{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    
    
}

.read__more-link{
    
    display: inline-flex;
    align-items: center;
    gap: 4px;
    
}
.read__more-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.main__text-more--1{
    display: none;
}
.figure-caption{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
figure{
    padding: 0 16px 16px 16px;
}
.read__more-link{
    
    /* padding-top: 10px; */
    font-family: TT Lakes;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;

    
}
.main__image{
    max-width: 100%;
    /* width: 320px; */
    /* height: 176px; */
    height: auto;
    display: block;
    
}
.services.layout__services{
    display: none;
}

@media (min-width: 768px){
    body{
        width: 768px;
    }
    .figure-caption__caption{
        width:312px;
        height:160px;
        font-family: TT Lakes;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;

    }
    .header__menu{
        display: flex;
        align-items: center;
    }
    .header__menu::after{
        content: "";
        padding-left: 20px;
        height: 32px;
        border-right: 2px solid #EAEAEA;
    }
    .header__logo-menu::after{
        display: none;
    }
    .header__sidebar-link--hidden{
        display: block;
    }
    .header__sidebar-list--1::after{
        content: "";
        align-self: center;
        height: 32px;
        border-right: 2px solid #EAEAEA;
    }
    .header__sidebar-card{
        gap: 20px;
    }
    .figure-caption{
        flex-direction: row;
    }
    .menu__service-item--hidden{
        display: none;
    }
    .main__text--hidden{
        display: block;
    }
    .main__text--hidden-paragraph{
        display: none;
    }
     .main__image{
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        align-items: stretch;
        
        border-radius: 10px;
        width: 360px ;
        /* max-width: 100%; */
        /* max-height: 100%; */
        height: auto;
          
    }
    .menu__service-item--hidden{
        display: none;
    }
    .figure-caption{
    display: flex;
    justify-content: space-between;}
    
    .main__text{
        font-family: TT Lakes;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;
width:312px;
height: auto;
    }
    .read__more-link{
    
    padding-top: 10px;}
} 




@media (min-width: 1120px){
    body{
        width: 1120px;
    }
    .main__image{
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        align-items: stretch;
        
        border-radius: 10px;
        width: 532px ;
        /* max-width: 100%; */
        /* max-height: 100%; */
        height: auto; 
    }
    /* .header__title{
        display:flex;
        padding:40px 32px;
        
    }
    .header__title::before{
    content: "";
    width:40px;
    border-left: 4px solid #41F6D7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
    }
    
    .header__logo{
        display: none;
    }
    .header__menu{
        display: none;
    }
.header__logo{
        display: none;
    }

    .header__sidebar-list--1{
        display: none;
    }
    .header__sidebar-text{
        display: flex;
        padding-right: 8px;
        font-family: TT Lakes;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-align: right;

    }
    .header__sidebar-list--2{
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */
     
    
    
    .menu__service-item--hidden{
        display: flex;}
        .menu__service-item:nth-child(1){
   
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:16px;
    padding-right:9px;
    
    align-items: center; 
    margin-left: 16px;
    background: #ffffff;
}
.menu__service-item:nth-child(2){
    border:none;
    background: #F8F8F8;
}
.main__text--hidden-paragraph{
    display: inline;
}
/* .menu__service{
    flex-wrap: wrap;
} */
.menu__service-link:last-child{
    text-align:top;
}
.header-page{
    display: none;
}
.header__sidebar-text--hidden{
    display: inline;
    padding-right:8px;
}
.services-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
}
.services.layout__services{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:32px;
    
    font-family: TT Lakes;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-align: right;

}
.main__title--hidden{
    
    display: block;
    align-items: center;
    align-content: center;
}
.header__sidebar-list--2{
    margin:0;
}
.figure-caption{
    display: flex;
    justify-content: space-between;
}
.main__text{
    font-family: TT Lakes;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
width: 490px;
height: auto;

}
    }


